<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="taskList" >
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">查询条件</div>
                <div class="panel-body">
                    <form id="formSearch" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <input placeholder="任务名称" class="form-control layer-date" id="taskName" name="taskName">
                            </div>
                            <div class="col-sm-4" style="text-align: left;">
                                <button type="button" style="margin-left: 50px" id="btn_query"
                                        class="btn" onclick="reload();">查询</button>
                                <button id="btn_add" type="button" class="btn btn-default" data-target="#taskModal" >
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                                </button>
                                <!--<a data-toggle="modal" class="btn btn-primary" data-target="#taskModal">新增</a>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <table id="taskTable" class="table"></table>
        </div>

        <div class="modal" id="taskModal">
            <div th:include="../templates/thymeleaf/taskNew/add :: taskAdd" ></div>
        </div>

        <div id="content"></div>

        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script rel="script" th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
        <script rel="script" th:src="@{/bootstrap-3.3.7/js/bootstrap-table.js}"></script>
        <script rel="script" th:src="@{/bootstrap-3.3.7/js/bootstrap-table-zh-CN.js}"></script>

        <script rel="script" th:src="@{/layui/layui.js}"></script>

        <script>
            var layer;
            var openIndex;
            layui.use(['element','layer'], function() {
                layer = layui.layer
            });


            $(document).ready(function () {
                initTaskTable();

                $("#btn_add").click(function(){
                    var _this = $(this)
                    _this.attr('disabled',true)
                    openIndex = layer.open({
                        resize : false,
                        title : '新增',
                        type : 2,
//                        shadeClose: true,
//                        shade: false,
                        area: ['893px', '600px'],
                        content : '/mem/task/add',
                        success: function (layero, index) {
                            _this.removeAttr('disabled')
                        }
                    })
                })

                $('body').on('click','.task-event',function(){
                    var _this = $(this);
                    console.log(_this,_this.attr("data-id"));
                    $.ajax({
                        url : '/mem/task/upd',
                        type:'POST',
                        data : {
                            taskId : _this.attr("data-id"),
                            statu : _this.attr("data-statu")
                        },
                        success : function(){
                            reload();
                        },
                        fail : function(){

                        }
                    })
                })
            })

            function reload(){
                $('#taskTable').bootstrapTable('destroy');
                initTaskTable({
                    taskName : $("#taskName").val()
                })
            }

            function initTaskTable(queryParams){
                $("#taskTable").bootstrapTable({
                    url:"/mem/task/query",  //请求地址
                    striped : true, //是否显示行间隔色
                    pageNumber : 1, //初始化加载第一页
                    pagination : true,//是否分页
                    sidePagination : 'client',//server:服务器端分页|client：前端分页
                    pageSize : 10,//单页记录数
                    pageList : [ 10, 15 , 20],//可选择单页记录数
                    showRefresh : false,//刷新按钮
                    queryParams:queryParams,
                    columns : [ {
                        title : '任务ID',
                        field : 'taskId',
                        sortable : true
                    }, {
                        title : '任务名称',
                        field : 'taskName',
                        sortable : true
                    }, {
                        title : '任务描述',
                        field : 'description',
                        sortable : true
                    }, {
                        title : '任务状态',
                        field : 'statu',
                        sortable : true,
                        formatter : function(value){
                            var _html = (value == 1 ? '有效' : '无效')
                            return _html;
                        }
                    }, {
                        title : '创建时间',
                        field : 'createTime',
                        sortable : true,
                        formatter : function(value){
                            return changeDateFormat(value);
//                            var _html = (value == 1 ? '有效' : '无效')
//                            return _html;
                        }
                    },{
                        title : '操作',
                        field : 'id',
                        align: 'center',
                        valign: 'middle',
                        formatter: actionFormatter
                    }]
                })
            }

            function actionFormatter(value, row, index) {
                var _html = "";
                if(row.statu == 1){
                    _html = '<button id="edit" class="btn btn-danger task-event" data-id="'+row.taskId+'" data-statu="0" >标记无效</button>'
                }else if(row.statu == 0){
                    _html = '<button id="edit" class="btn btn-info task-event" data-id="'+row.taskId+'" data-statu="1">标记有效</button>'
                }
                return _html;
//                var id = value;
//                var result = "";
//                result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-search'></span></a>";
//                result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
//                result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"DeleteByIds('" + id + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
//                return result;
            }

            //创建函数
            function changeDateFormat(cellval) {
                if (cellval) {
                    var date = new Date(cellval);
                    var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                    var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                    var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                    var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                    var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                    return date.getFullYear() + "-" + month + "-" + currentDate + " " + hours + ":" + minutes + ":" + seconds;
                }
                return "";
            }



        </script>



    </div>
</html>


